h1 {
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  font-size: 80px;
  padding-top: 30px;
  padding-bottom: 30px;

}
body {
  background-color: #e4c2c2;
  border: solid black 8px;
  padding-bottom: 30px;
}

img {
  height: 500px;
  width: 1200px;
  border: solid black 10px;
}

#totalCost {
  display: none;
}

#totalCost h2 {
  font-size: 80px;
  text-align: center;
}

.output {
  font-size: 80px;
}
